* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

button {
    background: none;
}

.display_flex {
    display: flex !important;
}

.display_none {
    display: none !important;
}